[defaults]
inventory = inventories/local/hosts.yml
roles_path = roles
stdout_callback = ansible.builtin.default
result_format = yaml
retry_files_enabled = false

[privilege_escalation]
become_method = sudo